{%extends 'settings/base.html'%}
{%block content%}



<div class="container">
	<div class="row">
			<h1>RuEng - русско-английский словарь</h1>
			
			<h4>Для неавторизованных пользователей доступен демонстрационный набор слов во вкладке "Мой словарь"</h4>
			<p>
			<h4>Что бы попробовать потренировать доступные слова перейдите во вкладку "Случайный порядок"r</h4>
			<p>
			<h4>Что бы попробовать потренировать написание слова перейдите во вкладку "Написание"</h4>
			<p>
			<h4>Что бы добавить свои слова, <a href="{{ url_for('settings.signup') }}">авторизуйтесь</a>, тогда появитсья вкладка "Добавить слово"</h4>
			<p>После этого, сформируеться персональная таблица, в которой будут находитья только ваши слова</p>
	</div>
</div>


 







{%endblock%}
