{%extends 'settings/base.html'%}
{%block content%}



<div class="container">
	<div class="row">
			<h1>RuEng - русско-английский словарь</h1>
			
			<h4>Для неавторизованных пользователей доступен демонстрационный набор слов во вкладке <a href="{{ url_for('rueng.common') }}">"Мой словарь"</a></h4>
			<p>
			<h4>Что бы попробовать потренировать доступные слова перейдите во вкладку <a href="{{ url_for('rueng.random') }}">"Случайный порядок"</a></h4>
			<p>
			<h4>Что бы попробовать потренировать написание слова перейдите во вкладку <a href="{{ url_for('rueng.write') }}">"Написание"</a></h4>
			<p>
			<h4>Что бы добавить свои слова, <a href="{{ url_for('settings.signup') }}">авторизуйтесь</a>, тогда появится вкладка "Добавить слово"</h4>
			<p>После этого, сформируеться персональная таблица, в которой будут находится только ваши слова</p>
	</div>
</div>


 







{%endblock%}
