{%extends 'base.html'%}

{%block content%}

  <div class=" row col-4 mx-auto flex-column align-items-center mt-5 "> 
      <form method="POST", action="{{ url_for('rueng.add') }}">
        <label for="exampleFormControlSelect1">Английская версия</label>
        <input class="form-control" type="text" name="eng" >
        <label for="exampleFormControlSelect1">Русская версия</label>
        <input class="form-control" type="text" name="ru">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
  </div>


{%endblock%}